body{
	font-family:"Monserrat";
}
.fijo{
	position:fixed;
	background-color:white;

}
.titulo{
	margin-left:35%;
	font-size:30px;
}

li a{
	text-decoration:none;
	color:black;
}

li{
	float:left;
	list-style:none;
	margin-left:15%;
}
/*segunda hoja sobre nosotros*/
.segunda{
	background:url(../img/dance_7.jpg);
	width:100%;
	height:600px; 
}
.sobre{
	color:white;
	margin-left:10%;
}
.transparente{
	margin: 0 auto;
	background-color: rgba(27, 21, 23, 0.6);
	color:white;
	width: 28%;
	margin-top:20%;
	padding:4%;
	text-align: center;
	font-size: 17px;
}

.partes{
	background:url(../img/cubes.png);
	width:100%;
	height:260px;

}
.lorem{
	text-align:center;
	border-bottom:2px solid grey;
	margin-bottom:10%; 
	padding:2%;
}

.lorem{
	margin-left:40%;
	padding:2%;
}
.fotos{
	width:80%;
	height:300px;
	margin:5%;
}
h3 , p{
	text-align: center;
}
.frase{
	background:url(../img/cubes.png);
	width: 100%;
	height:170px;
}
.larga{
	font-size:40px;
	margin-right:-5%;
	padding-top:3%;
}

.contacto{
	background-color:white;
	height:500px;
	margin-left:0;
}
form{
	width:50%;
	margin:auto;
	background: rgba(0,0,0,0.2);
	padding:7%;
	margin-top:4%;
	border-radius:7px;
}
.formulario{
	color:#45515d;
	text-align:center;
	margin:0;
	font-size:30px;
	margin-bottom:1%;
} 	

input, textarea{
    width:100%;
    margin-bottom:2%;
    padding:4%;
    box-sizing:border-box;
    font-size:16px;   
}
.zapatos{
	background:url(../img/shoes_1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right; 
}
footer{
	background-color:#45515d;
	padding:1%;
	color:white;
	border-bottom:5px solid grey;
}

