body{
	font-family:"Monserrat";
}
.fijo{
	position:fixed;
	background-color:white;

}
.titulo{
	margin-left:35%;
	font-size:30px;
}

li a{
	text-decoration:none;
	color:black;
}

li{
	float:left;
	list-style:none;
	margin-left:15%;
	
}
/*segunda hoja sobre nosotros*/
.segunda{
	background:url(../img/dance_7.jpg);
	width:100%;
	height:600px; 
}
.texto{
	color:white;
}
.transparente{/*hacer fodo transparente*/

}
.partes{
	background:url(../img/cubes.png);
	width:100%;
	height:260px;

}
.titulo .lorem{
	text-align:center;
	margin-bottom:10%; 
	padding:3%;
}
.titulo{
	padding:4%;
}
.lorem{
	margin-left:50%;
}
.fotos{
	width:100%;
	height:300px;
	margin:5%;
	margin:2% 3%;
}
.frase{
	background:url(../img/cubes.png);
	width: 100%;
	height:100px;
}
.larga{
	font-size:30px;
	margin-left:33%;
	padding-top:3%;
}

.contacto{
	background-color:white;
	height:500px;
	margin-left:0;
}
form{
	width:50%;
	margin:auto;
	background: rgba(0,0,0,0.2);
	padding:7%;
	margin-top:4%;
	border-radius:7px;
}
.formulario{
	color:#45515d;
	text-align:center;
	margin:0;
	font-size:30px;
	margin-bottom:1%;
} 	

input, textarea{
    width:100%;
    margin-bottom:2%;
    box-sizing:border-box;
    font-size:16px;   
}
.zapatos{
	background:url(../img/shoes_1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right; 
}
footer{
	background-color:#45515d;
	color:white;
	border-bottom:5px solid grey;
}
